<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-BQF9DEB1TC"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-BQF9DEB1TC');
</script>
    <meta charset="UTF-8">
    <title>Counselling Support</title>
    <link rel="stylesheet" href="formStyles.css">

</head>
<body>
    <h1> Counselling Simplified</h1>
    <! Form for accepting user information>
    <form action="/options" method="post">
        <! Accepting all ranks>
        <br>
        <label>Enter CRL rank: </label>
        <input type="number" placeholder="CRL rank" name="crlRank" pattern="[1-9]\d*" min="1" required title="Please enter a valid rank">
        <br>
        <label>Enter Category rank: </label>
        <input type="number" placeholder="Category rank" name="catRank" pattern="[1-9]\d*" min="1"  title="Please enter a valid rank">
        <br>
        <label>Enter PwD rank: </label>
        <input type="number" placeholder="PwD rank" name="pRank" pattern="[1-9]\d*" min="1"  title="Please enter a valid rank">
        <br>

        <!Determining user category for best results>
        <br>
        <label>Choose Category: </label>
        <select name = "category">
            {%for cat in categories:%}
            <option value={{cat}}> {{cat}} </option>
            {% endfor %}
        </select>
        <br>

        <!Determining user gender for best results>
        <br>
        <label>Gender:</label>
        <br>
        <input type="radio" id="gen0" name="Gender" value="N" checked>
        <label for="gen0">Gender-Neutral</label><br>
        <input type="radio" id="gen1" name="Gender" value="F">
        <label for="gen1">Female Only</label><br>
        <br>

        <! Acquiring user preferences>
        <h4>Preferences:</h4>

        <label>Old IITs:</label>
        <br>
        <input type="radio" id="oldYes" name="oldIIT" value="Y">
        <label for="oldYes">Preferred</label><br>
        <input type="radio" id="oldNo" name="oldIIT" value="N" checked>
        <label for="oldNo">Don't Care</label><br>

        <br>
        College:
        <br>
        {%for c in c_indices:%}
        <label>{{c[-1]}}</label>
        <select id = 'college{{c[-1]}}' name={{c}}>
            {%for college,code in colleges:%}
            <option value={{code}}>{{college}}</option>
            {% endfor %}
        </select>
        <br>
        {% endfor %}
        <br>

        <br>
        Branch:
        <br>
        {%for branch in b_indices:%}
        <label>{{branch[-1]}}</label>
        <select name = {{ branch }}>
            {%for course,code in courses:%}
            <option value={{code}}> {{course}} </option>
            {% endfor %}
        </select>
        <br>
        {% endfor %}
        <br>




        <br>
        <button type="submit">Find my options</button>
        <div id="debug"></div>
    </form>


    <div class="subscription">
        <b>Credits</b> <br> <br>
    Developed by :
        <br>
    Nihit Agarwal, Computer Engineering Major, Georgia Institute of Technology.
            <br>
    Bhuvanesh Pareek, Assistant Professor, Decision Sciences, Indian Institute of Management, Bangalore
    <br><br>
    Special thanks to:
            <br>
    Aditya Kumar Mahto, Computer Science Engineer, Indian Institute of Technology, Bombay
            <br>
    Yashvant Jain, Senior Principal Actuarial, Accenture

    </div>
<script src="action.js"></script>
</body>
</html>